:root {
  --primary-color: #272142;
  --theme-font: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--theme-font);
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 189px 30px 189px 30px;
}

.col {
  
}

.hero p {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  margin: 0;
  font-weight: bold;
  font-size: 36px;
}

.hero h1 {
  font-size: 96px;
  margin-bottom: 30px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

.row h2 {
margin-top: 100px;
}

.container h2 {
  font-family: var(--theme-font);
  font-size: 49px;
}

.container p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}


.top-text {
  margin: 20px 0 30px 0;
}


img {
  margin: 60px 0 0 0;
  /* width: 450px; */
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #6c63ff;
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 60px 12px 60px;
}

a:hover {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

button.btn {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #6c63ff;
  background-color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 60px 12px 60px;
  border-color: #6c63ff!important;
  border-width: 1.5px;
  margin-bottom: 50px;
}

 button.btn:hover {
  color: var(--primary-color);
    border-color: #6c63ff;
    color: var(--primary-color)
}

@media (max-width: 992px) {
  .app-content {
    width: 100%;
    text-align: center;
  }
   
}

@media (max-width: 992px) {
   .row h2 {
      font-size: 20px;
    }
    .container h2 {
      font-size: 64px;
    }
}

